/*
.accordion__body {
  display: block;
}

.accordion__body--hidden {
  display: none;
}
*/


/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/